.contact {
  padding: 2vh 4vw 0 4vw;
  line-height: 50px;
  min-width: 1000px;
}
.contact .contact-title {
  margin: 10px 0;
  text-align: left;
  line-height: 46px;
}
.contact .contact-title .contact-img {
  display: inline-block;
  height: 46px;
  width: 46px;
  vertical-align: middle;
  background: url("../../assets/images/svg/contact.svg") no-repeat;
}
.contact .contact-title .contact-contact {
  line-height: 1;
  height: 34px;
  font-size: 34px;
  font-weight: 900;
}
.contact .contact-title-content {
  margin: 20px 0;
  line-height: 20px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #797979;
}
.contact .contact-content {
  display: flex;
  width: 100%;
}
.contact .contact-content .contact-details {
  flex: 1;
  margin-right: 30px;
}
.contact .contact-content .contact-details > div {
  padding: 40px 50px;
  text-align: left;
  font-size: 18px;
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
  transition: all 1s;
}
.contact .contact-content .contact-details > div div:first-child {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.contact .contact-content .contact-details > div span {
  color: #797979;
}
.contact .contact-content .contact-details > div span:first-child {
  display: inline-block;
  width: 100px;
}
.contact .contact-content .contact-details > div:hover {
  background-color: #2c2c2c;
  box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.1);
}
.contact .contact-content .contact-details > div:hover a {
  text-decoration: underline;
}
.contact .contact-content .contact-details > div .maplink {
  width: 100%;
  color: #2196f3;
  cursor: pointer;
}
.contact .contact-content .contact-me {
  flex: 0.8;
  padding: 40px 50px;
  box-sizing: border-box;
  background-color: #2196f3;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contact .contact-content .contact-me .contact-me-title {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.contact .contact-content .contact-me input,
.contact .contact-content .contact-me textarea {
  display: block;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  color: #fff;
  border: none;
  outline-style: none;
  border-bottom: 2px solid #90cbf9;
  background-color: transparent;
  caret-color: transparent;
  resize: none;
}
.contact .contact-content .contact-me input::-moz-placeholder, .contact .contact-content .contact-me textarea::-moz-placeholder {
  color: #90cbf9;
}
.contact .contact-content .contact-me input:-ms-input-placeholder, .contact .contact-content .contact-me textarea:-ms-input-placeholder {
  color: #90cbf9;
}
.contact .contact-content .contact-me input::placeholder,
.contact .contact-content .contact-me textarea::placeholder {
  color: #90cbf9;
}
.contact .contact-content .contact-me input:focus,
.contact .contact-content .contact-me textarea:focus {
  border-bottom: 2px solid #fff;
}
.contact .contact-content .contact-me input:focus::-moz-placeholder, .contact .contact-content .contact-me textarea:focus::-moz-placeholder {
  color: #fff;
}
.contact .contact-content .contact-me input:focus:-ms-input-placeholder, .contact .contact-content .contact-me textarea:focus:-ms-input-placeholder {
  color: #fff;
}
.contact .contact-content .contact-me input:focus::placeholder,
.contact .contact-content .contact-me textarea:focus::placeholder {
  color: #fff;
}
.contact .contact-content .contact-me textarea {
  height: 80px;
}
.contact .contact-content .contact-me button {
  margin-top: 30px;
  background-color: #fff;
  border: none;
  color: black;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 25px;
}
.contact .contact-content .contact-me button:active {
  background-color: gray;
  transform: translateY(2px);
}
.contact .contact-content .contact-me button span {
  display: inline-block;
  font-size: 1.5vw;
}
.contact .contact-content .contact-me button span {
  height: 25px;
  width: 30px;
  margin: 0 5px;
  vertical-align: middle;
  display: inline-block;
  background: url("../../assets/images/svg/Send.svg") no-repeat center center;
}/*# sourceMappingURL=contact.css.map */