* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #111111;
}

input {
    -webkit-user-select: all;
    -moz-user-select: all;
    -o-user-select: all;
    user-select: all;
}

div,
span,
a,
li,
body,
button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}